@font-face {
  font-family: "Ownglyph_meetme-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.all {
  font-family: "Ownglyph_meetme-Rg";
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 1200px;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 30px;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 10px;
  padding: 10px;
  background-color: #c8edff;
}

.inputText {
  display: flex;
  font-size: 22px;
  background-color: rgb(216, 216, 216);
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.addbtn {
  margin-left: auto;
}

input {
  margin: 0 10px;
  border-radius: 20px;
  border: 2px solid rgb(129, 129, 129);
}

.workBox {
  border: 2px solid rgb(255, 112, 112);
  border-radius: 10px;
  margin-bottom: 10px;
}
.done {
  border: 2px solid rgb(89, 181, 90);
  border-radius: 10px;
}

h1 {
  margin: 2px;
}
h2 {
  margin-bottom: 5px;
  margin-left: 10px;
}
